{% extends 'base.html' %}
{% block title %}View Schedule{% endblock %}

{% block content %}
    <table class="table table-borderless text-align-center table-sm">

        {% for day in schedule %}
            <th class="table-secondary">{{ day }}</th>
                {% for course in schedule[day] %}
                    <tr>
                        <td style="{{ loop.cycle('background-color: #f9ffb3', 'background-color: #ffdab3', 'background-color: #ffb9b3', 'background-color: #c2fdff', 'background-color: #cfccff') }}">
                            {{course.title}}
                        </td>
                    </tr>
                {% endfor %}
            <tr><td></td></tr>
        {% endfor %}

    </table>
{% endblock %}
